.latest-articles.iso-call .news-post {
    width: 360px;
    margin: 15px 15px;
    float: left;
    height: 364px;
}
/*.worldSection{*/
/*    width: 47%;*/
/*    float: left;*/
/*    margin-right: 21px;*/
/*}*/